* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightgray;
  border: 2px solid black;
  height: 400px;
  width: 600px;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  gap: 10px;
  /* padding: 10px; */
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 100px auto 50px;
  /* align-items: center; */
}

.container div {
  background-color: lightpink;
  border: 1px solid black;
}

#box-1 {
  grid-area: header;
}

#box-2 {
  grid-area: nav;
}
#box-3 {
  grid-area: main;
}
#box-4 {
  grid-area: aside;
}
#box-5 {
  grid-area: footer;
  /* grid-row: 3 / 4;
  grid-column: 1/4; */
}
/* 
#box-6,
#box-7,
#box-8,
#box-9,
#box-10 {
  display: none;
} */
