.container {
  width: 90%;
  background-color: lightcyan;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .container {
    background-color: aqua;
  }
}

@media (min-width: 769px) {
  .container {
    background-color: lightblue;
  }
}
