body {
  font-family: system-ui;
  padding: 16px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid > div {
  background: #f4f4f8;
  padding: 20px;
  border: 1px solid #ddd;
}
.a {
  grid-column: 1 / span 2;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .a {
    grid-column: auto;
  }
}
